<%- include('partials/header') %>

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Sobre nosotros</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Secciones</a></li>
                <li class="breadcrumb-item active text-primary">Nosotros</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    </div>
    <!-- Navbar & Hero End -->

    <!-- About Start -->
    <div class="container-fluid about py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
                    <div>
                        <h4 class="text-primary">Sobre nosotros</h4>
                        <h1 class="display-5 mb-4">Somos líderes en la venta de software y equipo informático de última
                            generación.</h1>
                        <p class="mb-4">Nuestra misión es empoderar a empresas y particulares con tecnología de punta
                            que impulse su productividad y eficiencia. Descubre soluciones innovadoras que transforman
                            tu manera de trabajar. ¡Tu futuro tecnológico comienza aquí!</p>
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="d-flex">
                                    <div><i class="fas fa-lightbulb fa-3x text-primary"></i></div>
                                    <div class="ms-4">
                                        <h4>Consúltanos</h4>
                                        <p>Nuestro equipo puede ayudarte a encontrar las mejores soluciones tecnológicas
                                            que se adecúen a ti y tu presupuesto.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="d-flex">
                                    <div><i class="bi bi-bookmark-heart-fill fa-3x text-primary"></i></div>
                                    <div class="ms-4">
                                        <h4>Años de experticia</h4>
                                        <p>Llevamos años transformando la tecnología en el cantón con soluciones
                                            innovadoras y de vanguardia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <a href="contacto"
                                    class="btn btn-primary rounded-pill py-3 px-5 flex-shrink-0">Contrátanos</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex">
                                    <i class="fas fa-phone-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Contáctanos</h4>
                                        <p class="mb-0 fs-5" style="letter-spacing: 1px;">+593995368217</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 wow fadeInRight d-none d-md-block" data-wow-delay="0.2s">
                    <div class="image-tech-container">
                        <img class="tech-image img-fluid" src="img/technology.jpg" alt="">
                    </div>
                </div>
            </div>

            <br>
            <div id="map" class="wow fadeInRight" data-wow-delay="0.2s"></div>
        </div>
    </div>
    <!-- About End -->


    <%- include('partials/footer') %>