<%- include('partials/header') %>

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Test de velocidad</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Secciones</a></li>
                <li class="breadcrumb-item active text-primary">Test</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- Test Start -->
    <div class="container-fluid d-flex justify-content-center align-items-center mt-4">
        <div class="container text-center">
            <h4>Sugerencia:</h4>
            <p>
                Para obtener resultados óptimos, detén todas las descargas y aplicaciones que consuman ancho de banda en
                tu ordenador y en otros dispositivos conectados a la misma red (como smartphones, tablets, consolas de
                videojuegos, etc.). Si es posible, utiliza una conexión por cable Ethernet en lugar de WiFi o CPL, ya
                que estas últimas pueden ser menos estables y afectar la precisión de los resultados en conexiones de
                alta velocidad. Te recomendamos realizar el test varias veces para confirmar la estabilidad de los
                resultados.
            </p>

            <div class="container">
                <div class="results" id="results">
                    <h4>Resultados:</h4>
                    <div id="speedResults" class="row text-center mt-2">
                        <div class="col-6">
                            <p class="fs-3"><strong>Descarga</strong></p>
                            <p id="downloadSpeed" class="display-4">-</p>
                        </div>
                        <div class="col-6">
                            <p class="fs-3"><strong>Subida</strong></p>
                            <p id="uploadSpeed" class="display-4">-</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container mt-3 mb-3">
                <div class="d-flex justify-content-center align-items-center position-relative" style="height: 200px;">
                    <div id="loader" class="loader d-none position-absolute top-50 start-50 translate-middle"></div>
                    <button id="btnTest" class="btn btn-primary">Iniciar</button>
                </div>
            </div>


            <!-- Contenedor para el icono de Internet y los elementos de prueba a la derecha -->
            <!-- <div class="d-flex justify-content-center align-items-center">
                <div id="internetIconContainer wow fadeInRight" class="d-inline-block mb-3 me-3">
                    <img id="internetIcon" src="img/internet-test.svg" alt="Internet picture" class="img-fluid"
                        style="max-width: 300px; height: auto;">
                </div>

                <div class="position-relative" style="width: 300px;">
                    <div id="loader" class="loader d-none position-absolute top-50 start-50 translate-middle"></div>

                    <div id="results" class="d-none position-absolute top-50 start-50 translate-middle"
                        style="width: 300px;">
                        <h4>Resultados</h4>
                        <div id="speedResults" class="row text-center mt-2">
                            <div class="col-6">
                                <p><strong>Descarga</strong></p>
                                <p id="downloadSpeed" class="display-4">-</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Subida</strong></p>
                                <p id="uploadSpeed" class="display-4">-</p>
                            </div>
                        </div>
                        <div class="mt-3 d-flex justify-content-around">
                            <button class="btn btn-info">Más información</button>
                            <button class="btn btn-secondary" id="retestButton">Retestear</button>
                        </div>
                    </div>

                    <button id="testButton" class="btn btn-primary rounded-pill w-100">
                        Testear ancho de banda
                    </button>
                </div>

            </div> -->
        </div>
    </div>
    <!-- Test End -->





    <script src="/js/testResults.js"></script>

    <%- include('partials/footer') %>